<%= render :partial => "shared/header" %>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Inventories</div>
      <div class="panel-body">
        <div id="inventories"></div>
        <script id="detailTemplate" type="text/x-shield-template">
        <table>
          <div id="inventoriesdetail"></div>
        </table>
       </script>
      </script>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "shared/footer" %>
